<div class="container">
  <div>
    <h1>{{ isDelete ? 'Delete Specialties': 'Edit Specialties'}}</h1>
  </div>
  <form class="form" [formGroup]="specialtiesForm" (ngSubmit)="isDelete ? onDelete() : onSubmit()">

    <label>
      Name:
      <input type="text" name="name" formControlName="name" [value]="specialties?.name" >
      <div>
        <mat-error *ngIf="(specialtiesForm.dirty) && f.name.errors && f.name.errors.minlength">Field must have at least 4 characters</mat-error>
        <mat-error *ngIf="(specialtiesForm.dirty) && f.name.errors && f.name.errors.maxlength">Field can have a maximum of 256 characters</mat-error>
      </div>
    </label>
    <label>
      Description:
      <input type="text" name="description"  formControlName="description" [value]="specialties?.description"  >
      <div>
        <mat-error *ngIf="(specialtiesForm.dirty) && f.description.errors && f.description.errors.minlength">Field must have at least 4 characters</mat-error>
        <mat-error *ngIf="(specialtiesForm.dirty) && f.description.errors && f.description.errors.maxlength">Field can have a maximum of 256 characters</mat-error>
      </div>
    </label>
    <label>
      active:
              <mat-slide-toggle
                  class="example-margin"
                  [checked]="specialties?.name"
                  name="active"
                  formControlName="active"
                  required
              >
              </mat-slide-toggle>
    </label>
    <br>
    <label>
      Doctor:
      <mat-form-field appearance="fill">
        <mat-label>{{specialties?.doctor?.name}}</mat-label>
        <mat-select name="doctorId" formControlName="doctorId" [value]="specialties?.doctor?.id" >
          <mat-option *ngFor="let doctor of doctorList" [value]="specialties?.doctor?.id">{{doctor.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-error *ngIf="(specialtiesForm.dirty) && f.doctorId.errors && f.doctorId.errors.required">Required field</mat-error><br>
      </div>
      <div>
        <mat-error *ngIf="nothingWasChanged">Nothing was changed</mat-error><br>
      </div>
    </label>
    <button  mat-raised-button [color]="isDelete ? 'warn' : 'accent'" type="submit">{{ isDelete ? 'Delete' : 'edit' }} Specialties</button>    </form>
    <button *ngIf="isDelete"  mat-stroked-button color="confirm" type="submit" routerLink="/specialties">Cancel</button>
    </div>

