<div class="container">
  <div>
    <h1>{{isDelete ? 'Delete Doctor' :' Edit Doctor'}}</h1>
  </div>
  <form class="form" [formGroup]="doctorForm" (ngSubmit)="isDelete ? ondelete() : onSubmit()">

    <label>
      Name:
      <input type="text" name="name" formControlName="name" required [value]="doctor.name">
      <div>
        <mat-error *ngIf="(doctorForm.touched || doctorForm.dirty) && f.name.errors && f.name.errors.required">Required field</mat-error>
        <mat-error *ngIf="(doctorForm.touched || doctorForm.dirty) && f.name.errors && f.name.errors.minlength">Field must have at least 4 characters</mat-error>
        <mat-error *ngIf="(doctorForm.touched || doctorForm.dirty) && f.name.errors && f.name.errors.maxlength">Field can have a maximum of 256 characters</mat-error>
      </div>
    </label>
    <label>
      birthday:
      <div>
          <input matInput [matDatepicker]="picker" name="birthdate" formControlName="birthDate" [value]="doctor.birthDate" (click)="picker.open()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </div>
      <div>
        <mat-error *ngIf="(doctorForm.touched || doctorForm.dirty) && f.birthDate.errors && f.birthDate.errors.required">Required field</mat-error><br>
      </div>
    </label>
    <label>
      active:
              <mat-slide-toggle
                  class="example-margin"
                  [checked]="doctor.active"
                  name="active" formControlName="active"
                  required
              >
              </mat-slide-toggle>
    </label>
    <br>
    <label>
      Specialties:
      <mat-form-field appearance="fill">
        <div *ngFor="let item of doctor.specialties">
          <mat-label>{{isDelete ? item : 'specialties'}}</mat-label>
        </div>
        <mat-select name="specialties" formControlName="specialties"  multiple required>
          <mat-option *ngFor="let s of specialtieslist" [value]="s">{{s.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-error *ngIf="(doctorForm.touched || doctorForm.dirty) && f.specialties.errors && f.specialties.errors.required">Required field</mat-error><br>
      </div>
    </label>
    <button  mat-raised-button [color]="isDelete ? 'warn' : 'accent'" type="submit">{{ isDelete ? 'Delete' : 'edit' }} doctor</button>
    </form>
    </div>
